#playerBoard {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

#opponentBoard {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

#container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap:50px;
    height:800px;
    align-items: flex-start;
}

@media (max-width:600px){
    #playerBoard{
        width:100%;
    }
}